<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/login/layout}">
<head>
<meta charset="UTF-8">
<title>ログイン・新規登録 / ECサイト</title>
<link th:href="@{/css/login/login.css}" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/user/signup.js}" defer></script>
</head>
<body>
	<section layout:fragment="content">
		<section id="form_section">
			<form th:action="@{/user/login}" method="POST">
				<fieldset>
					<legend>ログイン</legend>
					<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
					 th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
					 class="text-danger">
					 ログインエラーメッセージ
					</p>
					<label for="userId">ユーザーID(メールアドレス):</label>
					<input type="text" class="form-control" placeholder="ユーザーID（メールアドレス）" name="userId">
					<label for="password">パスワード:</label>
					<input type="text" class="form-control" placeholder="パスワード" name="password">
				</fieldset>
				<input type="submit" value="ログイン" class="btn btn-primary">
			</form>
			<form id="user-sigup-form" th:object="${endUserForm}" method="post" th:action="@{/user/signup_edit}">
				<fieldset>
					<legend>新規登録</legend>
					<label for="userEmail">メールアドレス:</label>
					<input type="text" class="form-control" placeholder="メールアドレス" th:field="*{userEmail}">
					<label for="password">パスワード:</label>
					<input type="password" class="form-control" placeholder="パスワード" th:field="*{password}" autocomplete="on">
					<label for="userName">氏名:</label>
					<input type="text" class="form-control" placeholder="氏名" th:field="*{userName}">
				</fieldset>
				<button id="btn-signup1" class="btn btn-primary" type="button">新規登録</button>
				<!-- <input type="submit" value="新規登録" class="btn btn-primary"> -->
			</form>
		</section>
		<section id="admin_section">
			<p><a th:href="@{/admin/login}">管理者ログインはこちら</a></p>
		</section>
	</section>
</body>
</html>