<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/login/layout}">
<head>
<meta charset="UTF-8">
<title>管理者ログイン / ECサイト</title>
<link th:href="@{/css/login/login.css}" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<section id="form_section">
			<form th:action="@{/admin/login/login}" method="POST">
				<fieldset>
					<legend>管理者ログイン</legend>
					<!-- <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
					 th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
					 class="text-danger">
					 ログインエラーメッセージ
					</p> -->
					<label for="userId">ユーザーID(メールアドレス):</label>
					<input type="text" class="form-control" placeholder="ユーザーID（メールアドレス）" name="userId">
					<label for="password">パスワード:</label>
					<input type="text" class="form-control" placeholder="パスワード" name="password">
				</fieldset>
				<input type="submit" value="ログイン" class="btn btn-primary">
			</form>
		</section>
	</section>
</body>
</html>