@charset "UTF-8";

html {
	font-size: 16px;
}

main {
	width: 100%;
	padding: 0px !important;
}



form {
	width: 80%;
	margin: 50px auto 100px;
	position: relative;
	z-index: 1;

}

legend {
	text-align: center;
	font-size: 1.2rem;
	display: block;
	width: 200px;
	background-color: #343a40;
	margin-bottom: 50px;
	border: 1px solid #000;
	color: #fff;
}

input[type=submit] {
	display: block;
	margin: 10px auto;
}

input {
	margin-bottom: 30px;
}

legend::after {
	content:"";
	display: block;
	width: 100%;
	height: 350px;
	background-color: #efefef;
	border: 1px solid #aaa;
	position: absolute;
	top: 1rem;
	left: 0px;
	z-index: -1;
	border-radius: 10px;
}

#form_section form:last-child legend::after {
	height: 450px;
}

fieldset {
	width: 80%;
	margin: auto;
}

#admin_section {
	margin: 50px auto;
}

#admin_section p {
	width: 200px;
	margin: auto;
}

#btn-signup1 {
	display: block;
	margin: auto;
}

@media (max-width: 575px) {
	#admin_section {
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 10px;
	}
}

@media (min-width: 576px) {
	#form_section {
		display: flex;
		height: 600px;
	}

	#form_section form:first-child {
		margin-left: 5%;
	}

	#form_section form:last-child {
		margin-left: 5%;
		margin-right: 5%;
	}

	form {
		flex: 1;
		width: 60%;
		margin-top: 100px;
	}
	label, input {
		font-size: 0.8rem !important;
	}
}

@media (min-width: 1500px) {
	fieldset {
		width: 50%;
	}

	label, input {
		font-size: 1rem !important;
	}

		#form_section form:first-child {
		margin-left: 8%;
	}

	#form_section form:last-child {
		margin-left: 8%;
		margin-right: 8%;
	}
}

