<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/admin/layout}">
<head>
<meta charset="UTF-8">
<title>管理画面トップ/ECサイト</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/top/top.js}" defer></script>
</head>
<body>
	<th:block layout:fragment="content">
		<section>
			<h1 class="h2">管理者トップページ</h1>
			<section>
				<ul id="product_ul">
					<li>
						<a th:href="@{/admin/admin}">
							<span class="menu_name">管理者の管理と登録</span>
							<span class="menu_text">管理者情報の確認や変更ができます。</span>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/product/list}">
							<span class="menu_name">商品を確認</span>
							<span class="menu_text">登録した商品の確認ができます。</span>
							<span class="menu_text">商品の編集画面では、変更やカラーの追加などができます。</span>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/product/register}">
							<span class="menu_name">商品を登録</span>
							<span class="menu_text">新規に商品の登録ができます。</span>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/product/category}">
							<span class="menu_name">商品カテゴリ登録</span>
							<span class="menu_text">新規に商品のカテゴリ登録ができます。</span>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/product/order}">
							<span class="menu_name">商品受注履歴</span>
							<span class="menu_text">購入された、商品と顧客の情報を確認できます。</span>
						</a>
					</li>
				</ul>
			</section>
		</section>
	</th:block>
</body>
</html>