<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/layout/layout.css}" rel="stylesheet"/>
<link th:href="@{/css/common/header.css}" rel="stylesheet"/>

<script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
<script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common/menu.js}" defer></script>
<title></title>
</head>
<body>
	<!-- ヘッダー -->
	<header layout:replace="~{layout/header::header}"></header>

	<!-- コンテンツ -->
	<div class="container-fluid">
		<div class="row">
			<main class="main">
				<div layout:fragment="content"></div>
			</main>
		</div>
	</div>
</body>
</html>